.footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    padding: 32px 48px;
    border-top-left-radius: 32px 32px;
    border-top-right-radius: 32px 32px;
    background-color: #000000;
    color: #ffffff;
}

@media (max-width: 480px) {
    .footer {
        padding: 32px 16px;
    }
}

@media (max-width: 930px) {
    .footer {
        flex-direction: column;
        gap: 48px;
    }
}

.footer__logo {
    font-family: NeueMachina;
font-size: 30px;
font-weight: 700;
line-height: 35px;
align-self: flex-end;
}

@media (max-width: 930px) {
    .footer__logo {
        align-self: flex-start;
    }
}

.footer__contacts-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.footer__contacts {
    display: flex;
    gap: 48px;
    padding-bottom: 32px;
}

@media (max-width: 767.98px) {
    .footer__contacts {
        flex-direction: column;
        gap: 32px;
    }
}

.footer__contact {
}
.contact {
    

}
.contact__title {
    padding-bottom: 16px;
}
.contact__text {
    font-family: NeueMachina;
    font-size: 45px;
    font-weight: 700;
    line-height: 46px;
    position: relative;
    padding-bottom: 5px;
    
}

@media (max-width: 1400px) {
    .contact__text {
        font-size: 36px;
    }
  }

  @media (max-width: 1200px) {
    .contact__text {
        font-size: 24px;
        line-height: 24px;
    }
  
  }

.contact__text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.footer__socials {
}

@media (max-width: 480px) {
    .footer__socials {
        gap: 2px;
    }   
}

.socials__list {
}

.socials__link-footer{
    width: 323px;
    height: 71px;
    border-radius: 35px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1400px) {
    .socials__link-footer{
        width: 260px;
    }
}

@media (max-width: 1200px) {
    .socials__link-footer{
        width: 175px;
        height: 36px;
    }
}

@media (max-width: 767.98px) {
    .socials__link-footer{
        width: 90px;
        height: 36px;
    }
}

.socials__link-footer:nth-child(1){
    background-color: #0F0F0F;
    border: 1px solid #313131;
}
.socials__link-footer:nth-child(2){
    background-color: #4D76A1;
}
.socials__link-footer:nth-child(3){
    background-color: #34AADF;
}



.socials__link-footer img{
    height: 100%;
}