

.home {
    height: 100%;
    width: 100%;


    background-image: url('../img/main/home/1.webp'), url('../img/main/home/2.webp');
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
    background-size: 260px 290px, 260px 290px;
    position: relative;
    display: flex;
    margin-bottom: 150px;
    border-bottom-left-radius: 32px 32px;
    border-bottom-right-radius: 32px 32px;
}

@media (max-width: 1023.98px) {
    .home {
        background-size: 90px 107px, 128px 146px;
    }
}

.home__body {
    display: flex;
    align-items: center;
    width: 100%;
}

.home__content {
    flex: 0 0 855px;

    min-height: 250px;

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: 97px auto;
}

@media (max-width: 1024px) {
    .home__content {
        flex: auto;
        padding: 0 32px;
    }
}

.home__title {
    font-size: 96px;
    line-height: 92px;
    font-weight: 700;
    font-family: NeueMachina;
}

@media (max-width: 1023.98px) {
    .home__title {
        font-size: 60px;
        line-height: 60px;
    }
}

@media (max-width: 767.98px) {
    .home__title {
        font-size: 40px;
        line-height: 40px;
        font-weight: 800;
    }
}

.home__subtitle {
    font-size: 20px;
    background-color: #ffffffcb;
    border-radius: 10px;
}

@media (max-width: 767.98px) {
    .home__subtitle {
        font-size: 16px;
        line-height: 18.78px;
        font-weight: 600;
    }
}

.home__button {

    width: fit-content;
}

@media (max-width: 767.98px) {
    .home__button {
        font-size: 16px;
        line-height: 18.78px;
        font-weight: 600;
    }
}

.home__smiles-wrapper {
    width: 100%;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

.home__smiles-wrapper::-webkit-scrollbar {
    height: 2px;
}

.home__smiles-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.185);
    border-radius: 10px;
}

.home__smiles-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.329);
}

.home__smiles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    height: 48px;
    margin: 0 auto;
    font-weight: 500;
    padding: 0 16px;

}

.home__smile {
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.home__smile:nth-child(1) {
    background-image: url('../img/main/home/s1.png');
}

.home__smile:nth-child(2) {
    background-image: url('../img/main/home/s2.png');
}

.home__smile:nth-child(3) {
    background-image: url('../img/main/home/s3.png');
}

.home__smile:nth-child(4) {
    background-image: url('../img/main/home/s3.png');
}

.home__smile:nth-child(5) {
    background-image: url('../img/main/home/s3.png');
}


/* --------------------------------------------------------------------------------------------  */


/* --------------------------------------------------------------------------------------------  */
