@charset "UTF-8";

@font-face {
  font-family: NeueMachina;
  src: url(../fonts/NeueMachina-Ultrabold.ttf);
}

@font-face {
  font-family: NeueMachina;
  src: url(../fonts/NeueMachina-Bold.ttf);
}




/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*============================================================================*/


body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  overflow-x: auto;
}

.body__wrapper {
  display: flex;
  flex-direction: column;

}

[class *="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  [class *="__container"] {
    max-width: 100%;
  }
}



.button {
  transition-duration: 0.15s;
  transition-timing-function: ease;
  padding: 10px 32px;
  background-color: black;
  color: #FFFFFF;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .button {
    padding: 10px 24px;
  }
}

.button:hover {
  background-color: #9E00FF;
}

.socials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.57em;
}

.socials__link {
  transition-duration: 0.15s;
  transition-timing-function: ease;
  cursor: pointer;
}

.socials__link:hover {
  transform: scale(1.05);
}

.loader {
  position: fixed;
  background-color: #ffffff9d;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader__spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px dotted rgba(0, 0, 0, 0.74);
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.1);
  }
}



.modal {

  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition-duration: 0.5s;
  z-index: 50;
}

.modal_active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal__body {
  position: relative;
  width: 60%;
  height: calc(100% - 200px);
  margin-top: 200px;
  border-radius: 32px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .modal__body {

    width: 80%;
  }
}

@media (max-width: 1023.98px) {
  .modal__body {

    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .modal__body {
    margin-top: 100px;
    padding: 48px 16px;
    height: calc(100% - 100px);
  }
}


.modal__close {
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 15px;
  height: 60px;
  width: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.15s;
}

@media (max-width: 767.98px) {
  .modal__close {
    top: 24px;
    right: 24px;
    height: 48px;
    width: 48px;
  }
}

.modal__close:hover {
  transform: scale(1.1);
}

.modal__title {
  font-family: NeueMachina;
  font-weight: 800;
  font-size: 72px;
  line-height: 69.48px;
  padding-bottom: 64px;
  padding-right: 100px;
  padding-top: 20px;
  flex: 1 1 20%;
}

@media (max-width: 1200px) {


  .modal__title {
    font-size: 50px;
    line-height: 49.48px;
  }

}

@media (max-width: 767.98px) {
  .modal__title {
    font-size: 40px;
    line-height: 38.6px;
  }
}


.modal__content {
  width: 100%;
  flex: 0 1 80%;
  overflow: hidden;
  height: 50%;
}

.modal__frame {
  height: 100%;
  overflow-y: auto;
}

.modal__frame::-webkit-scrollbar {
  width: 2px;
}

.modal__frame::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
}

.modal__frame::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.329);
}

.form-modal__desc {
  padding-bottom: 24px;
}

.form-modal__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 10px;
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .form-modal__inputs {
    gap: 0;

  }
}

.form-modal__row {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
}

.form-modal__inputs input.invalid::placeholder {
  color: red;
}

.form-modal__inputs input.invalid {
  color: red;
}

@media (max-width: 767.98px) {
  .form-modal__row:first-child {
    flex-direction: column;
    margin-bottom: 5px;
  }
}

.form-modal__row:last-child {
  position: relative;
}

.form-modal__row:last-child::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.form-modal__row:last-child:has(.invalid)::after {
  background-color: red;
}

.form-modal__notification {
  background-color: red;
  width: fit-content;
  padding: 0 15px;
  height: 40px;
  border-radius: 8px;
  color: #FFFFFF;
  margin: 0 10px 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}

.form-modal__notification::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: -3px;
  right: 15px;
  background-color: red;
  transform: rotate(45deg);
}

.form-modal__name {
  padding-bottom: 5px;
  flex: 0 0 49%;
  border-bottom: 1px solid black;
}

.form-modal__surname {
  padding-bottom: 5px;
  flex: 0 0 49%;
  border-bottom: 1px solid black;

}

@media (max-width: 767.98px) {
  .form-modal__name {
    margin-bottom: 15px;
  }
}

.form-modal__comment {
  flex: 0 0 49%;
}

@media (max-width: 767.98px) {
  .form-modal__comment {
    flex: 1 1 auto;
  }
}

.form-modal__upload {
  flex: 0 0 49%;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 767.98px) {
  .form-modal__upload {
    flex: 0 0 20px;
    padding-right: 20px;
    font-size: 0;
  }
}

.form-modal__upload input {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.form-modal__upload label {
  width: 100%;
  display: contents;
}

.form-modal__upload span:first-child {
  display: block;
  width: 85%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: black;
  background-image: url('./assets/img/main/upload.png');
  background-repeat: no-repeat;
  background-position: right;
  color: #FFFFFF;
  margin-bottom: 5px;
  transition-duration: 0.15s;
}

@media (max-width: 767.98px) {
  .form-modal__upload span:first-child {
    padding: 16px 16px;
  }
}

.form-modal__upload span:last-child {
  display: none;
  width: 8%;

  height: 80%;


  background-image: url('./assets/img/main/warning.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  margin-bottom: 5px;
}

@media (max-width: 767.98px) {
  .form-modal__upload span:last-child {
    opacity: 0;
    visibility: hidden;
  }
}

.form-modal__upload span:first-child:hover {
  background-color: #9E00FF;
}

.form-modal__choose {
  padding-top: 34px;
  padding-bottom: 24px;
}

.form-modal__radios {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 64px;
}

.form-modal__radio {
  padding: 8px 32px;
  border-radius: 20px;
  border: 1px solid black;
  width: fit-content;
  cursor: pointer;

}

.form-modal__radio p {
  position: relative;
  padding-left: 15px;
}

.form-modal__radio p::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid black;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;

}

.form-modal__radio_active p::after {
  border: 1px solid white;
}

.form-modal__radio_active {
  color: #FFFFFF;
  background-color: black;
  border: 1px solid black;
}

.form-modal__button {
  width: fit-content;
}

.modal__image {
  display: none;
  width: 120px;
  height: 120px;

}

.modal__image img {


  max-width: 100%;
}

.modal__success {
  display: none;
}

.success-modal {}

.success-modal__text {
  padding-bottom: 32px;
}

.success-modal__button {
  width: fit-content;
}